.write{
  padding-top: 50px;
}

.writeImg{
  margin-left: 170px;
  width: 70vw;
  height:250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeFrom{
  position: relative;
}

.writeFormGroup{
  margin-left: 150px;
  display: flex;
  align-items: center;
 
}

.writeIcon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(128, 125, 125);
  cursor: pointer;
}

.writeInput{
  font-size: 20px;
  border: none;
  padding: 20px;
  width: 70vw;

}

.writeInput:ficus{
  outline: none;
}

.writeText{
  font-size: 20px;
}

.writeSubmit{
  position: absolute;
  top: 370px;
  right: 150px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 10px;
}